* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 'header header header'
                          'main main main'
                          'main main main'
                          'main main main'
                          'main main main'
                          'footer footer footer';
 min-height: 100vh;
}

header {
    grid-area: header;
    background-color:white;
    height: 100px;
}

main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 100% 100% 100%;
}

#Jumbotron { background-color: rgb(2, 29, 233);
    height: 500px;
    
}

    #Blog { background-color: white;
    height: 820px;
}

#adicionales { background-color: white;
   /* height: 1550px;*/
}

.content_image {
    display: flex;
}

.content_footer{
margin: 40px;
}
.title_footer{
    margin-left: 15px;
    font-size: 22px;
}
footer {
    grid-area: footer;
    background-color:whitesmoke;
    height: 300px;
}
.content_modelo{
  text-align: center;
} 
.modelo{
  font-size: 140px;
  text-decoration: underline;
}



.content_space {
    height: 100px;
}
