* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 'header header header'
                          'main main main'
                          'main main main'
                          'main main main'
                          'main main main'
                          'footer footer footer';
 min-height: 100vh;
                        
}

    
header {
    grid-area: header;
    background-color:white;
    height: 100px;
}

main {
    grid-area: main;
    background-color: chocolate;
    grid-template-rows: 100% 100% 100%;
}

#Jumbotron { background-color: rgb(2, 29, 233);
    height: 500px;
    
}

#Blog { background-color: rgb(0, 0, 0);
    height: 700px;
}

#adicionales { background-color: white;
    height: 1550px;
    
    
}


footer {
    grid-area: footer;
    background-color:whitesmoke;
    height: 300px;
}
